extends layout.pug

block content
  div(class="row justify-content-center align-items-center h-100")
    div(class="col-6 text-center")
      h2 Specto
      p(class="text-muted") Visualizing your music from Spotify.
      a(href="/spotify/authorize" class="btn btn-primary mt-4") Log in
  