html,body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
}

#me {
  color: #6c757d;
}

#me:hover {
  color: #88939c;
}

#source {
  font-size: 12px;
  color: #343a40;
}

#source:hover {
  color: #545b61;
}