html,body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10000;
}